
<div class="bg-white shadow" >
    <div class="container mx-auto px-4 py-2 md:py-3">

      <div class="flex justify-between items-center">
        
        <!-- Twitter Title of Project -->
        <div class="flex 
        justify-between 
        text-lg md:text-lg font-bold">
          <img src="assets/twitter-logo.png" class="max-h-8">
          <h1 class="ml-1">Twitter</h1>
        </div>

        <!-- User -->
          <div class="relative">
            <div class="bg-blue-200
            cursor-pointer
            w-10
            h-10
            text-blue-600
            flex
            items-center
            justify-center
            rounded-full
            ">
              M
            </div>
          </div>

      </div>

    </div>
</div>